$content-bg-color: rgb(244 244 245);
$small-browser: 640px;

.to-do-app {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    &_content {
        display: flex;
        flex-direction: column;

        border-radius: 0.5rem;
        padding: 2rem;

        filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
        background-color: fade-out($content-bg-color, 0.5);

        backdrop-filter: blur(24px);

        height: 83.33%;
        width: 24rem;
        max-width: 48rem;

        @media (min-width: $small-browser) {
            width: 75%;
        }
    }

    &_section {
        margin-bottom: 1rem;
    }

    &_filter-and-sort {
        display: flex;
        flex-wrap: wrap;
    }

    &_filter-section {
        flex: 1 1 0%;
        margin-bottom: .25rem;
    }
}